<nav class="navbar navbar-brown">
    <div class="navbar-brand">
        <a routerLink="/" class=href-img>
            <img alt="Logo" src="assets/images/rentier.jpg"/>
        </a>    

    </div>
    <div class="header-title">
        <h1>Rentier Online</h1>
    </div>

    <!-- menu for routing link-->
    <ul>
        <li>
            <a routerLink="/locations" routerLinkActive="active">Locations</a>
        </li>
        <li>
            <a routerLink="/tenants" routerLinkActive="active">Tenants</a>
        </li>
        <li>
            <a routerLink="/contracts" routerLinkActive="active">Contracts</a>
        </li>
        <li>
            <a routerLink="/bills" routerLinkActive="active">Bills</a>
        </li>
        <li>
            <a routerLink="/payments" routerLinkActive="active">Payments</a>
        </li>
        <li>
            <a routerLink="/aboutus" routerLinkActive="active">About us...</a>
        </li>
    </ul>
</nav>

