<div class="gray-section products-section">

    <H1>Payment list for selected location and current tenant</H1>

    <div *ngIf="locationSelected !== null" class="tile">
        <div class="tile-header">{{locationSelected.shortName}}</div>

        <table class="tile-description">
            <tbody>
                <tr>
                    <td>
                        <img src="assets/images/{{locationSelected.photoRef}}" />
                    </td>
                    <td>
                        <p>Address:</p>
                        <p>Tenant:</p>
                        <p>Email:</p>
                        <p>Phone:</p>
                        <p>Contract from:</p>
                        <p>Contract till:</p>
                    </td>
                    <td>
                        <p>{{locationSelected.address}}</p>
                        <p>{{contractSelected !== null ? contractSelected.tenant.shortName : '-'}}</p>
                        <p>{{contractSelected !== null ? contractSelected.tenant.details.email : '-'}}</p>
                        <p>{{contractSelected !== null ? contractSelected.tenant.details.phone : '-'}}</p>
                        <p>{{contractSelected !== null ? contractSelected.dateFrom : '-'}}</p>
                        <p>{{contractSelected !== null ? contractSelected.dateTo : '-'}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>

    <div class="mat-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- date Column -->
            <ng-container matColumnDef="date" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date: </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                <td mat-footer-cell *matFooterCellDef> Totals: </td>
            </ng-container>

            <!-- amount Column -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount: </th>
                <td mat-cell *matCellDef="let element"> {{element.amount| number:'1.2-2'}} </td>
                <td mat-footer-cell *matFooterCellDef>{{ calculateAmountTotal() | number:'1.2-2'}}</td>
            </ng-container>

            <!-- status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status: </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr style="text-align:right;" mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="onRowClicked(row)"></tr>
            <tr style="text-align:right;" mat-footer-row *matFooterRowDef="displayedColumns"></tr>

        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </div>
    <br>
</div>