body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Barlow Condensed', sans-serif;
}


.gray-section {
    background-color: #e1e1e1;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1500px;
    margin: auto;
}

